{
  "branches": ["+([0-9])?(.{+([0-9]),x}).x", "master", "main", "next", "next-major", {name: "beta", prerelease: true}, {name: "alpha", prerelease: true}],
  "plugins": [
    [
      "@semantic-release/exec",
      {
        "verifyReleaseCmd": "echo ${nextRelease.version} > .VERSION"
      }
    ],
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/changelog",
  ["@semantic-release/git", {
      "assets": ["CHANGELOG.md","pyproject.toml","setup.py"],
      "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
    }],
  "@semantic-release/gitlab"
  ]
}
